body {
	background-image: url("iw5t92O.jpg");
}
div.box {
	width: 400px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(0, 0, 0, 0.8);
	transform: translate(-50%, -50%);
	border-radius: 25px;
	border: 5px;
}
h2.login {
	text-align: center;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 5px black;
}
input[type=text], input[type=password] {
	width: 350px;
	padding: 12px 40px;
	margin: 8px 0;
	border: none;
	box-sizing: border-box;
	position: inherit;
	background-color: black;
	color: white;
}
label {
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 5px black;
}
div.form {
	text-align: center;
}
button  {
	width: 150px;
	height: 35px;
	background-color: rgba(0, 255, 50, 0.5);
	border: none;
	font-size: 15px;
	border-radius: 10px;
	transition-duration: 0.5s;
	transition-property: width;
}
button:hover {
	background-color: rgba(0, 255, 50, 1);
	width: 200px;
}
button:active {
	background-color: rgba(0, 100, 50, 1);
}

